#OGContainer {
	z-index: 900000000;
}
#OGContainer * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font: 12px sans-serif;
	line-height: 20px;
	color: #eee;
}
#OGContainer div {
	display: block;
}

#OGContainer, #OGContainer #OGCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#OGContainer #OGCloseButton {
	position: absolute;
	top: 2px;
	left: 4px;
	height: 14px;
	width: 14px;
	background: #bbb;
	color: #000;
	text-shadow: none;
	text-align: center;
	line-height: 12px;
	font-size: 14px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}
#OGContainer #OGCloseButton:hover {
	background: #ddd;
}

#OGContainer #OGOptions {
	background: #444;
	padding: 20px 0 0 0;
	opacity: 0.9;
	border: 1px solid #666;
	display: inline-block;
	position: relative;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}
#OGContainer #OGOptions::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 18px;
	top: 0px;
	left: 0px;
	background: #111;
	border-bottom: 1px solid #555;
	border-top: 1px solid #999;
	-moz-box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.9);
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

#OGContainer #OGOptions .OGGrid {
	padding: 0;
	-moz-box-shadow: inset 0 16px 0 rgba(0, 0, 0, 0.6), inset 0 17px 0 #666;
	cursor: pointer;
	text-shadow: 0 -1px 0 #000;
	line-height: 16px;
}
#OGContainer #OGOptions .OGGrid span {
	color: #bbb;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 0 4px;
}
#OGContainer .OGGridOptions {
	padding: 8px 20px 14px 25px;
	cursor: default;
	color: #eee;
	text-shadow: none;
	text-transform: capitalize;
}

#OGContainer #OGOptions input {
	width: 30px;
	height: 18px;
	vertical-align: middle;
	display: inline;
	padding: 0 4px;
	margin: 0 0 0 5px;
	color: ;
	background: #222;
	outline: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #111;
}
#OGContainer #OGOptions input:focus {
	-moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
#OGContainer #OGOptions label {
	margin: 0 0 0 20px;
	display: inline;
}
#OGContainer #OGOptions label:first-child {
	margin: 0;
}
#OGContainer #OGOptions label:first-child input {
	width: 60px;
}

#OGContainer #OGOptions label a {
	text-decoration: underline;
}

#OGContainer #OGOptions input[type="submit"], #OGContainer #OGOptions input[type="button"] {
	width: auto;
	height: 22px;
	padding: 0px 6px;
	margin: 0 0 0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #111;
	background: #222;
	text-shadow: 0 -1px 0 #000;
	-moz-box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 16px 16px -16px rgba(255, 255, 255, 0.5);
}
#OGContainer #OGOptions input[type="submit"]:active, #OGContainer #OGOptions input[type="button"]:active {
	-moz-box-shadow: inset 0 -16px 16px -16px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0 -16px 16px -16px rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 -16px 16px -16px rgba(255, 255, 255, 0.9);
	color: #bbb;
}
#OGContainer #OGOptions input[type="submit"] {
	margin: 0;
}